<p class="pull-right">
    <br />
    <button class=" btn btn-warning" type="button" onclick="window.open('/Cart/ListCartItem', '_self')">
        Giỏ Hàng <span class="badge" id="Cart_Amount">@Model</span>
    </button>

</p>

